#p_contact {
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.541);
    z-index: 100;
    display: flex;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0%;
    left: 0%;

    svg {
      width: 50px;
      height: 50px;
      animation: speen 2s infinite linear;
    }
    font-size: 1.2rem;

    transition: all 1500ms ease;
    &.active {
      user-select: initial;
      pointer-events: initial;
      opacity: 1;
    }
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .window {
    max-width: 1100px;
    margin: 0 auto;
  }

  .content {
    padding: 5% 50px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 550px) {
      padding: 1.5em;
    }
    .ct-head {
      .mtgrad {
        font-size: 5rem;
        @media screen and (max-width: 1024px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 550px) {
          span {
            display: none;
          }
        }
      }
      p {
        @media screen and (max-width: 550px) {
          font-size: 0.8rem;
          line-height: 1.2;
        }
      }
    }
  }

  .ctform {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 2em;
    height: 100%;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    .form-part {
      height: 100%;
      display: flex;
      flex-direction: column;
      .ig {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 0.5em;
        @media screen and (max-width: 550px) {
          grid-template-columns: 1fr;
        }
      }
      .input {
        background: #0000004d;
        padding: 1em;
        margin-bottom: 0.55em;
        border-radius: 0.4em;
        border: 1px solid var(--cyan);
        padding-bottom: 1.25em;
        label {
          display: block;
          color: var(--lime);
          font-weight: bold;
          line-height: 0.5;
          text-transform: uppercase;
          font-size: 1.3rem;
          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
        }
        input,
        textarea {
          background: none;
          border: none;
          color: white;
          font-family: var(--fontP);
          font-size: 1.4rem;
          width: 100%;
          height: 100%;
          resize: none;
          outline: none;
          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
          &:active {
            outline: none;
          }
        }
        textarea {
          min-height: 240px;
          @media screen and (max-width: 768px) {
            min-height: 150px;
          }
        }

        &.ta {
          flex-grow: 1;
          margin-bottom: 0;
        }
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      gap: 1em;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      @media screen and (max-width: 420px) {
        display: flex;
        flex-direction: column;
      }
      .socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        @media screen and (max-width: 768px) {
          display: flex;
          justify-content: center;
          width: 100%;
          gap: 0.5em;
        }
        .btn-ct {
          aspect-ratio: 1 / 1;
          border-bottom: 2px solid var(--lime);
          background: linear-gradient(to bottom, #121c32, #070d19);
          @media screen and (max-width: 768px) {
            aspect-ratio: initial;
            width: 100%;
          }
          box-shadow: 0px 0px 10px 2px #5dffd12a;
          color: var(--lime);
          padding: 0.5em;
          border-radius: 0.5em;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .btn-submit {
        background:
          url("/b/dotdark.png"),
          linear-gradient(to bottom, var(--lblue), var(--lime));
        background-size: 10px;
        height: 80%;
        border-radius: 1em;
        font-family: var(--fontH);
        display: flex;
        padding: 8%;
        @media screen and (max-width: 768px) {
          padding: 0.5em;
          height: auto;
          width: 50%;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          height: 70px;
        }
        span {
          font-size: 2rem;
          @media screen and (max-width: 768px) {
            font-size: 1.4rem;
          }
        }

        box-shadow: 0px 0px 10px 2px #5dffd18c;
        position: relative;
        background-position: 0%;
        &:hover {
          background-position: 100% 0%;
        }
        &::after {
          position: absolute;
          width: 30%;
          aspect-ratio: 1 / 1;
          content: "";
          background: #121c32;
          bottom: 5%;
          right: 8%;
          @media screen and (max-width: 768px) {
            width: 20px;
            height: 20px;
            bottom: 4px;
            right: 4px;
          }
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
      }
    }
  }
}
