#p_clock {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2em;
  padding: 2em;
  // overflow-y: scroll;
  // padding-bottom: 200px;
  max-height: 100vh;
  @media screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow-y: auto;
  }
  @media screen and (max-width: 550px) {
    padding: 1em;
  }
  .cpanel {
    background: #d9d9d91f;
    border-radius: 1em;
    .head {
      color: white;
      text-transform: uppercase;
      h2 {
        background: #17171789;
        text-align: center;
        padding: 0.55em;
        border-radius: 0.7em 0.7em 0 0;
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
    .credits {
      padding: 0.55em;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      max-height: 100%;
      overflow-y: auto;
    }
    .list {
      text-align: center;
      padding: 0.5em;
      h3 {
        font-size: 1rem;
        color: white;
        line-height: 0.98;
        font-weight: 300;
        @media screen and (max-width: 1024px) {
          font-size: 0.7rem;
        }
      }
      p {
        font-weight: bold;
        font-family: var(--fontH);
        font-size: 1.2rem;
        color: var(--lblue);
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
  .l {
    // background: red;
    display: grid;
    height: 90vh;
    grid-template-rows: 1.5fr 2fr;
    gap: 2em;
    @media screen and (max-width: 1024px) {
      height: auto;
      display: flex;
      flex-direction: column-reverse;
    }

    .top {
      // background: black;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      gap: 1em;
      @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column-reverse;
      }
      .map-container {
      }
      .world-clock {
        background: #d9d9d91f;
        height: 100%;
        padding: 1em;
        @media screen and (max-width: 1024px) {
          height: 300px;
        }
        @media screen and (max-width: 768px) {
          height: auto;
        }
        border-radius: 1em;
        .title {
          color: var(--lblue);
          font-size: 3rem;
          line-height: 1;
          @media screen and (max-width: 768px) {
            margin-bottom: 1em;
          }
        }
        .info {
          flex-direction: column;
          justify-content: space-between;
          display: flex;
          height: 100%;

          p {
            text-align: right;
            color: white;
          }
        }

        .time-detail {
          color: var(--lblue);

          .tz-head {
            h2 {
              font-size: 4rem;
              line-height: 1.1;
              @media screen and (max-width: 1024px) {
                font-size: 1.5rem;
                text-align: center;
              }
            }
          }

          .setting {
            p {
              text-align: left;
              padding-left: 0.5em;
              font-size: 1.4rem;
              color: white;
              @media screen and (max-width: 768px) {
                font-size: 1rem;
              }
            }
            select {
              background: linear-gradient(to bottom, var(--lime), var(--lblue));
              font-size: 1.2rem;
              color: var(--dg);
              font-family: var(--fontH);
              border: 2px solid var(--b1);
              width: 100%;
              padding: 0.5em;
              @media screen and (max-width: 768px) {
                font-size: 0.8rem;
              }
            }
          }
          .selectedTime {
            .attime {
              font-size: 4rem;
              font-family: var(--fontH);
              text-align: center;
              @media screen and (max-width: 768px) {
                font-size: 2.2rem;
              }
              @media screen and (max-width: 420px) {
                font-size: 1.8rem;
              }
            }
          }
        }
      }
      #worldmap {
        width: 100%;
        height: 100%;
        background: black;
        border-radius: 1em;
        border: 3px solid var(--lblue);
        @media screen and (max-width: 1024px) {
          height: 40vh;
        }
      }
    }
    .bottom {
      // background: black;
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      gap: 2em;
      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
      }
      .live-part {
        display: flex;
        flex-direction: column;
        gap: 1em;
        .streampart {
          max-height: 100%;
          .twitch-embed-container {
            height: 100%;
            aspect-ratio: 16/9;
            border: 2px solid var(--cyan);
          }
        }
        .connection {
          background: #d9d9d90f;
          display: flex;
          border-radius: 1em;
          padding: 1em;
          @media screen and (max-width: 550px) {
            padding: 0.5em;
          }
          @media screen and (max-width: 380px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 2em;
          }
          .connection-indicator {
            display: flex;
            gap: 1em;
            width: 100%;
            align-items: center;

            .icon {
              // width: 100%;
              height: 100%;
              padding: 0.55em;
              background: #d9d9d969;
              border-radius: 1em;
              svg {
                width: 100%;
                color: white;
                height: 100%;
                filter: drop-shadow(0px 0px 4px var(--lblue));
              }
            }
            .conn-info {
              color: white;

              .nn {
                line-height: 1;
                font-weight: bold;
              }
              @media screen and (max-width: 550px) {
                font-size: 0.7rem;
              }
            }
          }
          justify-content: space-between;
          .title {
            width: 100%;
            text-align: right;
            h2 {
              color: var(--lblue);
              font-size: 1.8rem;
              @media screen and (max-width: 1024px) {
                font-size: 1rem;
              }
            }
            p {
              color: white;
              font-weight: bold;
              @media screen and (max-width: 1024px) {
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      .activetimer {
        display: grid;
        grid-template-rows: 1fr 50px 1fr;
        .timer {
          border-radius: 1em;
          .dates {
            background: #d9d9d91f;
            padding: 0.6em;
            margin-top: 0.85em;
            border-radius: 1em;
            display: flex;
            justify-content: space-around;
            color: white;
            p {
              font-size: 1.4rem;
              color: var(--lime);
              font-weight: bold;
              @media screen and (max-width: 550px) {
                font-size: 1rem;
              }
            }
          }
          .at {
            background: #d9d9d91f;
            padding: 1em;
            border-radius: 1em;

            h2 {
              color: white;
              @media screen and (max-width: 1024px) {
                text-align: center;
              }
              @media screen and (max-width: 550px) {
                font-size: 0.8rem;
                opacity: 0.5;
              }
            }
            p {
              font-size: 6rem;
              text-align: center;
              line-height: 0.89;
              color: var(--lblue);
              font-weight: bolder;
              font-family: var(--fontH);
              @media screen and (max-width: 1600px) {
                font-size: 4rem;
              }
              @media screen and (max-width: 1280px) {
                font-size: 3rem;
              }
              @media screen and (max-width: 420px) {
                font-size: 2.2rem;
              }

              span {
                color: white;
                font-size: 1.2rem;
                font-family: var(--fontP);
                @media screen and (max-width: 550px) {
                  font-size: 0.7rem;
                }
              }
            }
          }
        }
        .center-line {
          width: 100%;
          height: 20px;
          margin: 0.3em 0;
          img {
            border: none;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .r {
    height: 100%;
    width: 100%;
    .timelist {
      height: 100%;
      max-height: 100%;
      padding-bottom: 0;
    }
    @media screen and (max-width: 1024px) {
      padding-bottom: 200px;
    }
    .content {
      padding: 1em;
      display: flex;
      flex-direction: column;
      max-height: 80vh;
      overflow-y: auto;
      gap: 1em;
      @media screen and (max-width: 1024px) {
        max-height: initial;
        height: auto;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    .time-card {
      background: linear-gradient(to bottom, var(--lblue), var(--lime));
      padding: 1em;
      border-radius: 1em;

      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.305);

      .info {
        color: #121c32;
        h2 {
          font-size: 2.4rem;
          line-height: 1;

          @media screen and (max-width: 768px) {
            font-size: 1.6rem;
          }
          @media screen and (max-width: 550px) {
            font-size: 0.8rem;
          }
        }
        p {
          font-weight: bold;
          font-size: 1.4rem;
          line-height: 0.7;
          @media screen and (max-width: 550px) {
            font-size: 1rem;
            margin-top: 0.5em;
          }
        }
        padding-bottom: 2em;
      }
      .date {
        text-align: right;
        color: #121c32;
        font-size: 1.3rem;
        @media screen and (max-width: 550px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
