.cursorfx-box {
  width: 50px;
  height: 50px;
  background: var(--lblue);
  z-index: 1000;
  animation: lifetime 1.2s infinite ease;
  user-select: none;
  pointer-events: none;

  // mix-blend-mode: color-dodge;
  @keyframes lifetime {
    from {
      opacity: 1;
      translate: 0 0;
    }
    50% {
      // translate: 20px 40px;
    }
    80% {
      // filter: invert(0%);
    }
    to {
      translate: 0 0px;
      opacity: 0;
      scale: 0;
      // filter: invert(100%);
    }
  }
}

.fx-head {
  overflow: clip;
  position: fixed;
  height: 100%;
  width: 100%;
  user-select: none;
  pointer-events: none;

  z-index: 1000;
}
