#p_contact {
  .window {
    max-width: 1100px;
    margin: 0 auto;
  }

  .content {
    padding: 5% 50px;
    display: flex;
    flex-direction: column;
    .ct-head {
      .mtgrad {
        font-size: 5rem;
      }
    }
  }

  .ctform {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 2em;
    height: 100%;
    .form-part {
      height: 100%;
      display: flex;
      flex-direction: column;
      .ig {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 0.5em;
      }
      .input {
        background: #0000004d;
        padding: 1em;
        margin-bottom: 0.55em;
        border-radius: 0.4em;
        border: 1px solid var(--cyan);
        padding-bottom: 1.25em;
        label {
          display: block;
          color: var(--lime);
          font-weight: bold;
          line-height: 0.5;
          text-transform: uppercase;
          font-size: 1.3rem;
        }
        input,
        textarea {
          background: none;
          border: none;
          color: white;
          font-family: var(--fontP);
          font-size: 1.4rem;
          width: 100%;
          height: 100%;
          resize: none;
          outline: none;
          &:active {
            outline: none;
          }
        }
        textarea {
          min-height: 240px;
        }

        &.ta {
          flex-grow: 1;
          margin-bottom: 0;
        }
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .socials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        .btn-ct {
          aspect-ratio: 1 / 1;
          border-bottom: 2px solid var(--lime);
          background: linear-gradient(to bottom, #121c32, #070d19);

          box-shadow: 0px 0px 10px 2px #5dffd12a;
          color: var(--lime);
          padding: 0.5em;
          border-radius: 0.5em;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .btn-submit {
        background:
          url("/b/dotdark.png"),
          linear-gradient(to bottom, var(--lblue), var(--lime));
        background-size: 10px;
        height: 80%;
        border-radius: 1em;
        font-family: var(--fontH);
        display: flex;
        padding: 8%;
        span {
          font-size: 2rem;
        }

        box-shadow: 0px 0px 10px 2px #5dffd18c;
        position: relative;
        background-position: 0%;
        &:hover {
          background-position: 100% 0%;
        }
        &::after {
          position: absolute;
          width: 30%;
          aspect-ratio: 1 / 1;
          content: "";
          background: #121c32;
          bottom: 5%;
          right: 8%;
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
      }
    }
  }
}
