:root {
  --g: #1f1f1f;
  --dg: #262728;
  --b1: #294e75;
  --cyan: #35d68e;
  --lime: #5dffd1;
  --lblue: #2879fb;

  scrollbar-color: var(--lime) var(--g);
  scrollbar-width: thin;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}
.btn {
  cursor: pointer;
  transition: all 80ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 1;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: clip;
  font-family: var(--fontP);
}

h2,
h1,
h3,
h4 {
  font-family: var(--fontH);
}
body {
  // color: var(--foreground);
  // background: var(--background);
  // font-family: Arial, Helvetica, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  // background: red;
  background: linear-gradient(to bottom, #0a0d11, #040a18);
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background:
      url("/b/dot.png"),
      linear-gradient(to top, var(--cyan), var(--b1), var(--dg));
    background-size: 30px, auto;
    opacity: 0.35;
    background-blend-mode: overlay;
    animation: dotmove 60s infinite linear;
    @keyframes dotmove {
      from {
        background-position: 0% 0%;
      }
      to {
        background-position: 0% 100%;
      }
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
  z-index: 1;
}

#p_home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  min-height: 100vh;
  .main-logo {
  }
}

.mtgrad {
  color: transparent;
  background: linear-gradient(to left, var(--lime), var(--lblue));
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0px 0px 2px var(--lblue));
  width: max-content;
}
