#p_explorer {
  // display: grid;

  .content {
    display: grid;
    grid-template-columns: 1.7fr 4fr;
    padding: 0;
    .drive-list {
      background: linear-gradient(to bottom, #20273c, #1c5f4c);
      display: flex;
      flex-direction: column;

      padding: 2em;
      gap: 1em;
      .drive {
        &.act,
        &:hover {
          box-shadow: none;
          background: linear-gradient(to right, #2879fb, #5dffd1);
        }

        color: #20273c;
        padding: 1em;
        box-shadow:
          0px 0px 20px 20px #5dffd163 inset,
          0px 0px 4px black;
        background: #2879fba4;
        .top {
          margin-bottom: 1em;
          display: flex;
          gap: 1em;
          justify-content: space-between;
          h2 {
            white-space: nowrap;
            font-size: 1.8rem;
          }
          svg {
            width: 50px;
            height: 50px;
            opacity: 0.2;
          }
        }
        p {
          color: #20273c;
          font-weight: bold;
          text-align: right;
          opacity: 0.5;
          font-size: 1.23rem;
          font-family: var(--fontH);
        }
      }
    }

    .files-part {
      padding: 3em;
      .fp-head {
        h2 {
          font-size: 4rem;
          margin: 0;
          margin-bottom: 0.5em;
          text-transform: uppercase;
        }
        .store-bar {
          width: 100%;
          background: #3e3e3e;
          border-radius: 2em;
          display: flex;
          height: 15px;
          .bar {
            border-radius: inherit;
            width: 50%;
            height: 100%;
            background: linear-gradient(to right, #2879fb, #32a6d4);
            box-shadow: 0px 0px 8px 2px #2879fb94;
          }
        }
        p {
          font-size: 2rem;
          text-align: right;
          opacity: 0.6;
        }
      }

      .file-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1em;
        background: #0000005b;
        padding: 2em;
        border-radius: 2em;
        margin-top: 2em;
        overflow-y: auto;
        max-height: 50vh;
        min-height: 50vh;

        align-content: flex-start;

        .file {
          display: flex;
          flex-flow: column;
          align-items: center;

          &:hover {
            background: rgba(0, 0, 0, 0.377);
          }
          border-radius: 2em;
          padding: 1em 1em;
          padding-bottom: 0;
          .folder {
            height: 120px;
            aspect-ratio: 10/7;
            background: linear-gradient(to bottom, var(--lblue), var(--lime));
            border-radius: 1em;
            mask-image: url("/d/folder.svg");
            mask-size: 100%;
            position: relative;

            &.pic {
              mask: none;
              border: 3px solid white;
              overflow: hidden;
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .name {
            text-align: center;
            // font-family: var(--fontH);
            font-size: 1.4rem;
            margin: 0.5em;
            line-height: 1;
          }
        }
      }
    }
  }
}

#fullscreen-gallery {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.802);
  z-index: 100;
  backdrop-filter: blur(2px);
  transition: 1.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.closed {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  .fscont {
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    iframe {
      height: 100%;
      aspect-ratio: 16/9;
      border-radius: 1em;
      border: 3px solid var(--cyan);
    }
  }
  .footer {
    color: white;
    text-align: center;
    margin: 1em;
    p {
      font-size: 1.4rem;
      line-height: 0.8;
      color: var(--lblue);
    }

    .close {
      color: white;
      opacity: 0.2;
      line-height: 1.4;
    }
  }
}
